.btn {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	max-width: 100%;
	padding: 6px 12px;
	font-weight: 600;
	user-select: none;
	border: 2px solid $primary-color;
	border-radius: 15px;
	background-color: transparent;
	text-align: center;
	color: #fff;
	@include transition();

	&:hover {
		color: #fff;
		border-color: #212121;
	}
}

a.btn {
	text-decoration: none;
}

.btn-primary {
	color: $primary-color;
	border-color: currentColor;
}

.btn-yellow {
	color: $warning-color;
	border-color: currentColor;
}
