.langs {
	position: relative;

	&__toggle {
		a {
			display: block;
		}
	}
}

@media (max-width: 991px) {
	.langs {
		padding: 10px 20px;

		&__toggle {
			display: inline-flex;
			align-items: center;

			img {
				margin-right: 5px;
			}
		}

		&__menu {
			background: none;

			&.show {
				.langs__list {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}

		&__list {
			margin-left: -10px;
			margin-right: -10px;
			padding-top: 10px;

			a {
				display: inline-block;
				padding: 10px;
			}
		}
	}
}

@media (min-width: 992px) {
	.langs__menu {
		top: 38px;
		right: -8px;
		left: auto;
	}

	.langs__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 150px;
		padding: 15px 0px 0px 15px;

		li {
			display: flex;

			a {
				padding: 0 8px 12px 0;
			}
		}
	}
}
